body {
	background-color: #666;
	color: orange;
	font-family: Helvetica, Sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 50px;
}

img {
	width: 50%;
	height: auto;
}

#slogan {
	color: #fff;
}

a {
	color: orange;
}

a:hover {
	color: white;
}

ul {
	text-align: left;
}

.centered {
	/* Width of the child UL element, according to JavaScript. Tested in Firefox */
	width: 146px;

	/* A more common way of centering elements in parents. */
	margin: 0 auto;
}
