
body {
	box-sizing: border-box;
	font-size: 24px;
	background-attachment: fixed !important;
	background-clip: border-box;
	background-color: transparent;
	background-image: url("../img/bkg-small.jpg");
	background-origin: padding-box;
	background-position: right top;
	background-repeat: no-repeat;
	background-size: cover !important;
}

header {
	position: fixed;
	z-index: 1;
	background: #fff;
	width: 100%;
}

header h1 {
	position: relative;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	padding: .25em 0;
}

#paul {
	color: #999;
}

#domzal {
	color: #333;
}

#photo {
	color: orange;
}

#arrow {
	position: absolute;
	bottom: 0;
	left: 42.5%;
	width: 15%;
}

nav {
	position: absolute;
	width: 50%;
	top: 100%;
	left: 25%;
	background-color: rgba(100,100,100,.5);
}

nav a {
	display: block;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 3em;
	color: #fff;

}

nav a:hover {
	color: orange;
}
