
html {
	background-color: #ccc;
}

body {
	box-sizing: border-box;
	font-size: 30px;
}

header {
	position: fixed;
	z-index: 1;
	background: #fff;
	width: 100%;
}

header h1 {
	position: relative;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	padding: .25em 0;
}

#paul {
	color: #999;
}

#domzal {
	color: #333;
}

#photo {
	color: orange;
}

#bkg-small {
	display: block;
	position: fixed;
	top: 3em;
	min-width: 100%;
	min-height: 100%;
	margin: 0 auto;
}

#bkg-medium {
	display: none;
}

#bkg-large {
	display: none;
}

#arrow {
	position: absolute;
	bottom: 0;
	left: 42.5%;
	width: 15%;
}

nav {
	position: absolute;
	width: 50%;
	top: 100%;
	left: 25%;
	background-color: rgba(100,100,100,.66);
}

nav a {
	display: block;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 3em;
	color: #fff;

}

nav a:hover {
	color: orange;
}

/* medium size */
@media only screen and (min-width: 480px) and (max-width: 768px) {

	#bkg-small {
		display: none;
	}

	#bkg-medium {
		display: block;
		position: fixed;
		top: 3em;
		min-width: 100%;
		min-height: 100%;
		margin: 0 auto;
	}
}

/* large size */
@media only screen and (min-width: 768px) {

	#bkg-small {
		display: none;
	}

	#bkg-medium {
		display: none;
	}

	#bkg-large {
		display: block;
		position: fixed;
		top: 3em;
		min-width: 100%;
		min-height: 100%;
		margin: 0 auto;
	}
}

/* xlarge size limit body width */
@media only screen and (min-width: 1440px) {

	#wrapper {
		width: 1440px;
		margin: 0 auto;
	}

	header {
		width: 1440px;
	}

	#bkg-large {
		top: 0;
		width: 1440px;
	}
}
